importFrom(coda, "as.mcmc.list", "thin", "mcmc", "as.mcmc")
importFrom(rjags, "jags.model", "adapt", "coda.samples", "list.modules",
           "load.module","unload.module")
importFrom(INLA, "inla", "inla.rerun", "inla.hyperpar", "inla.setOption")
importFrom("stats", "quantile", "sd", "update")

export("D_BCL", "D_BCS", "D_H2", "d2_central_difference", "ed",
       "ed.inla", "ed.jags", "expectation_fc",
       "extract_descriptives_inla", "extract_descriptives_jags",
       "extract_descriptives_mbp_inla",
       "extract_descriptives_mbp_jags", "extract_fixed_effects",
       "extract_hyperparameters", "extract_median_95CrI_descriptives_inla",
       "extract_median_95CrI_descriptives_jags",
       "extract_median_95CrI_fixed_effects",
       "extract_median_95CrI_hyperparameters",
       "extract_median_95CrI_random_effects",
       "extract_random_effects", "H2ALL", "ndat", "refit_inla",
        "sd_fc", "weight_fc_jags")
